    <meta charset = "utf-8">

    <meta content = "True"
          name    = "HandheldFriendly">

    <meta content = "320"
          name    = "MobileOptimized">

    <meta content = "width=device-width, initial-scale=1.0"
          name    = "viewport">

    <meta content = "no-referrer"
          name    = "referrer">

    <meta content = "{{.Site.Params.description}}"
          name    = "description">

    <meta content = "website"
          name    = "og:type">

    <meta content = "{{.Site.BaseURL}}"
          name    = "og:url">

<!-- Using a base64-encoded favicon saves an HTTP request. -->
    <link href    = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAA
                     AAwAQMAAABtzGvEAAAAA1BMVEXE/eQ3qbrXAAAADElEQVQY02MY
                     BVQFAAFQAAGXbYedAAAAAElFTkSuQmCC"
          id      = "favicon"
          rel     = "shortcut icon">

    <link href    = "{{ "css/style.css" | absURL}}"
          rel     = "stylesheet">

<!-- Preloading the three initial webfont varieties. -->
    <link rel     = "preload"
          href    = "/fonts/400-regular-latin.woff2"
          as      = "font">

    <link rel     = "preload"
          href    = "/fonts/400-italic-latin.woff2"
          as      = "font">

    <link rel     = "preload"
          href    = "/fonts/600-regular-latin.woff2"
          as      = "font">
