<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="chrome=1"
        http-equiv="X-UA-Compatible">
  <meta content="True"
        name="HandheldFriendly">
  <meta content="320"
        name="MobileOptimized">
  <meta content="width=device-width, initial-scale=1.0"
        name="viewport">
  <meta content="no-referrer"
        name="referrer">
  <meta content="MGRAH.AM is the website of Mike Graham."
        name="description">
  <meta content="website"
        name="og:type">
  <meta content="https://mgrah.am/"
        name="og:url">
  <link href="https://mgrah.am/favicon.ico"
        id="favicon"
        rel="shortcut icon">
  <link href="https://mgrah.am/css/style.css"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans"
        rel="stylesheet">
  <title>Page Not Found</title>
</head>
<body>
  <div class="section"
       id="splash">
    <div class="big-link">
      Page Not Found.
    </div>

    <div class="big-link">
      <a href="/">Home</a>
    </div>
  </div>
</body>
</html>
